<!doctype html>
<html lang="es">
  <head>
  	<title>Administración Posts</title>

      {% include  'asociacion/template_parts/head.html' %}


    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    {% load static %}
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"><link rel="stylesheet" href="css/style_vista_admin.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/admin_usuarios.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'admin_usuarios.js' %}"></script>


  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch">

            {% include 'crud/crud_parts/crud_side_bar.html' %}


        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <h2 class="mb-4">Administrar Posts</h2>
        <div class="table-wrapper">
          <div class="table-title">
              <div class="row">
                  <div class="col-sm-8"><h2>Info <b>Posts</b></h2></div>
                  <div class="col-sm-4">
                      <button type="button" class="btn btn-info add-new" 
                      onclick="window.location.href='new_post.html'"><i class="fa fa-plus"></i> Añadir</button>
                  </div>
              </div>
          </div>
          <table class="table table-bordered">
              <thead>
                  <tr>
                      <th>ID</th>
                      <th>Fecha y hora</th>
                      <th>Publicado por usuario</th>
                      <th>Título</th>
                      <th>Contenido</th>
                      <th>Imagen</th>
                      <th>Acción</th>
                  </tr>
              </thead>
              <tbody>

                {% for post in posts %}
                      <tr>
                          <td>{{ post.id }}</td>
                          <td>{{ post.fecha_de_creacion }}</td>
                          <td>{{ post.usuario_creador.username }}</td>
                          <td>{{ post.titulo }}</td>
                           <td>{{ post.contenido }}</td>

                          <td><img src="{{ post.imagen.url }}" alt="foto" width="160px" height="130px"></td>

                            <td>
                              <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                              <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                          </td>
                      </tr>
                    {% endfor %}

              </tbody>
          </table>
        </div>
      </div>
		</div>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js"></script>' %}"></script>
  </body>
</html>